<div class="page">
    <div class="project-entries">
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    <div class="project-entry"><img src="assets/projects/1.jpg" alt="Image"><p>Item No. X</p></div>
    </div>
</div>
