* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text);
    font-family: "Roboto", serif;
}

body
{
    padding-top: var(--size-bar);
}

.nav-bar
{
    overflow: hidden;
    background-color: var(--color-clay-sky);
    border-bottom: var(--size-light-border) var(--color-border) solid;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(var(--blur-bar));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--nav-bar-pad);
}

.links-container
{
    display: flex;
    height: 100%;
    column-gap: calc(var(--nav-bar-pad)*2);
    align-items: center;
    align-content: center;
}

.logo-container
{
    width: var(--size-burger);
    height: var(--size-burger);
}

.nav-link
{
    color: var(--color-text);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    align-content: center;
    padding: calc(1em/2);
    border-radius: var(--round-pill);
    width: 5em;
}

.nav-link:hover
{
    color: var(--color-text);
    background: linear-gradient(90deg, transparent, var(--color-bg), transparent);
    background-size: 200% 200%;
    -webkit-animation: Animation var(--duration-normal-animation) ease infinite;
    -moz-animation: Animation var(--duration-normal-animation) ease infinite;
    animation: Animation var(--duration-normal-animation) ease infinite;
    font-weight: bold;
}

.nav-link:active
{
    background-color: var(--color-fg);
    color: var(--color-text);
    height: calc(var(--size-burger) - var(--size-normal-border));
    font-weight: bold;
}

/* We can't use a class for burger-* or it will mess the properties. */

#burger-shw
{
    display: none;
    text-align: center;
    align-content: center;
    width: var(--size-burger);
    height: var(--size-burger);
}

#burger-cls
{
    display: none;
    text-align: center;
    align-content: center;
    width: var(--size-burger);
    height: var(--size-burger);
}

.page
{
    position: relative;
    min-height: calc(100vh - var(--size-bar));
    width: 100vw;
    background-color: var(--color-bg);
}

.w-band
{
    padding-left: var(--size-band);
}

.page-band
{
    position: absolute;
    height: 70vh;
    width: var(--size-band);
    margin: 15vh 0;
    background-color: var(--color-page-band);
}

.page h1
{
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: clamp(2rem, 5vw, 3rem);

    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;

    position: relative;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
}

.project-entries
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: calc(calc(100vh) - calc(var(--size-bar)));
    flex-direction: row;
    gap: calc(10%/2);
    width: 100%;
    align-content: normal;
    padding: 10px;
    padding-left: calc(10vw/4);
    padding-right: calc(10vw/4);
}

.project-entry
{
    border-radius: var(--round-project);
    transform: scale(1);
    width: 30%;
    min-height: 40vh;
}

.project-entry p
{
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: var(--round-project);
    margin: 0;
    backdrop-filter: blur(var(--blur-normal));
}

.project-entry img
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    border: var(--size-normal-border) var(--color-border) solid;
}

.enum-entries
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - clamp(1rem, 10vh, 3rem) - 15vh*2);
    width: 100%;
    align-content: center;
    column-gap: clamp(1rem, 20vw, 40rem);
}

.enum-entry
{
    border-bottom: var(--size-entry-border) var(--color-text) solid;
    max-width: clamp(10rem, 40vw, 20rem);
    z-index: 1;
    min-width: clamp(5rem, 30vw, 15rem);
    padding-top: 8vh;
}

.enum-entry p
{
    border: none;
    margin: 10px;
}

.w-error
{
    text-align: center;
    align-content: center;
}

.error-img
{
    margin: 20px;
}

.error-container h1
{
    font-size: clamp(1rem, 3vw, 2rem);
}

.contact-container
{
    border-radius: var(--round-normal);
    padding: 20px;
}

.contact-container input[type=text], select, textarea
{
    width: 100%;
    padding: 8px;
    border: var(--size-normal-border) solid var(--color-border);
    border-radius: var(--round-normal);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: var(--color-fg);
}

.contact-container input[type=submit]
{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: var(--round-normal);
    cursor: pointer;
}

.contact-container input[type=submit]:hover
{
    background-color: #45a049;
}

#contact-message
{
    height: 30vh;
}

.btn-blue, .btn-red, .btn-green, .btn-gray
{
    border-radius: var(--round-pill);
    min-width: var(--size-button-width);
    min-height: var(--size-button-height);
    font-size: 12pt;
    font-family: "Roboto", serif;
    font-weight: bold;
    display: inline-block;
    align-content: center;
    text-align: center;
    margin: 0 5px;
    padding: 0 10px;
}

.btn-blue, .btn-red, .btn-green, .btn-blue *, .btn-red *, .btn-green *
{
    color: var(--color-text-dark);
    text-decoration: none;
}

.btn-red
{
    border: var(--size-button-border) var(--color-red-border) solid;
    background-color: var(--color-red);
}

.btn-red:hover
{
    background-color: var(--color-red-border);
}

.btn-blue
{
    border: var(--size-button-border) var(--color-blue-border) solid;
    background-color: var(--color-blue);
}

.btn-blue:hover
{
    background-color: var(--color-blue-border);
}


.btn-green
{
    border: var(--size-button-border) var(--color-green-border) solid;
    background-color: var(--color-green);
}

.btn-green:hover
{
    background-color: var(--color-green-border);
}

.btn-gray
{
    border: var(--size-button-border) var(--color-border) solid;
    background-color: var(--color-fg);
    color: var(--color-btn-text);
}

.btn-gray:hover
{
    background-color: var(--color-border);
}

.btn-gray *
{
    color: var(--color-btn-text);
}

.btn-blue:active, .btn-red:active, .btn-green:active, .btn-gray:active
{
    border-width: var(--size-button-active-border);
    background-color: var(--color-fg);
    color: var(--color-btn-text);
}

.btn-blue:active *, .btn-red:active *, .btn-green:active *, .btn-gray:active *
{
    color: var(--color-btn-text);
}

.btn-gray:active
{
    border-color: var(--color-btn-text);
}

.social-bar
{
    display: flex;
    min-width: var(--size-social-bar-width);
    min-height: var(--size-social-bar-height);
}

.social-link
{
    margin: var(--size-social-margin);
    border: var(--size-normal-border) var(--color-border) solid;
    border-radius: var(--round-normal);
    width: var(--size-social);
    height: var(--size-social);
    text-align: center;
    align-content: center;
    background-color: var(--color-fg);
}

.social-link:hover
{
    background-color: var(--color-border);
}

.social-link:active
{
    border-width: var(--size-active-border);
    border-color: var(--color-btn-text);
    color: var(--color-btn-text);
    background-color: var(--color-fg);
}

.social-link:active *
{
    color: var(--color-btn-text);
}

.btn-container
{
    display: flex;
    flex-flow: column;
    width: var(--size-social-bar-width);
    row-gap: 10vh;
}

.desc-card
{
    display: flex;
    width: 60vw;
    column-gap: var(--size-bar);
}

.desc-card img
{
    height: 128;
    width: 128;
    border-radius: var(--round-pill);
    border: var(--size-normal-border) var(--color-border) solid;
}

.desc-card p
{
    font-family: "Roboto", serif;
    font-size: clamp(calc(0.8*calc(1rem)), 2vw, 2rem);
    align-self: self-end;
}

.centered
{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    row-gap: 10vh;
}

.w-left-margin
{
    margin-left: var(--size-bar);
}

footer
{
    background-color: var(--color-bg-dark);
    height: clamp(50px, 20vh, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer *
{
    color: var(--color-text-dark);
}

#gradient
{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    font-size: 30px;
    background: linear-gradient(90deg, transparent, var(--color-bg), transparent);
    background-size: 200% 200%;

    -webkit-animation: Animation var(--duration-normal-animation) ease infinite;
    -moz-animation: Animation var(--duration-normal-animation) ease infinite;
    animation: Animation var(--duration-normal-animation) ease infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

:root {
    --color-bg: #fff;
    --color-fg: #dfdfdf;
    --color-text: #000;
    --color-page-band: #fff67d;
    --color-clay-pink: #F3A1DB;
    --color-clay-yellow: #FFE797;
    --color-clay-sky: #b0deffa6;
    --color-green: #00CC55;
    --color-green-border: #5CEB8C;
    --color-blue: #327AFF;
    --color-blue-border: #63CBFF;
    --color-red: #F21212;
    --color-red-border: #FF6A6A;
    --color-text-dark: #F6F6F6;
    --color-bg-dark: #383835;
    --size-band: 20px;
    --size-margin-normal: 5px;
    --size-padding-normal: var(--size-margin-normal);
    --size-button-border: 2px;
    --size-button-active-border: 5px;
    --size-normal-border: 2px;
    --size-active-border: 3px;
    --size-light-border: 1px;
    --size-entry-border: 2px;
    --size-burger: 40px;
    --size-bar-padding: var(--size-padding-normal);
    --size-bar: calc(2*var(--size-bar-padding) + var(--size-burger));
    --size-button-height: 30px;
    --size-button-width: 6em;
    --size-social: 30px;
    --size-social-margin: var(--size-margin-normal);
    --size-social-bar-width: calc(2*6*var(--size-social-margin) + 2*6*var(--size-social-padding) + 6*var(--size-social-width));
    --size-social-bar-height: calc(2*var(--size-social-margin) + 2*var(--size-social-padding) + var(--size-social-height));
    --round-project: var(--size-padding-normal);
    --round-normal: var(--size-padding-normal);
    --round-pill: 10000000px;
    --nav-bar-pad: var(--size-padding-normal);
    --blur-bar: 8px;
    --blur-normal: 5px;
    --duration-normal-animation: 5s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #383835;
        --color-fg: #454545;
        --color-text: #F6F6F6;
        --color-border: #5E5E5E;
        --color-text-dark: #262626;
        --color-bg-dark: #FFFFFF;
        --color-btn-text: #c7c7c7;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #FFFFFF;
        --color-fg: #FDFDFD;
        --color-text: #262626;
        --color-border: #D9D9D9;
        --color-text-dark: #F6F6F6;
        --color-bg-dark: #383835;
        --color-btn-text: #3e3e3e;
    }
}

@media (max-aspect-ratio: 3/4) {
    .nav-bar
    {
        align-items: normal;
        flex-wrap: wrap;
    }
    .links-container
    {
        order: 2;
        width: 100%;
        flex-direction: column;
    }
    .nav-link
    {
        display: none;
    }
    #burger-shw
    {
        display: inline-block;
    }
    #burger-cls
    {
        display: inline-block;
    }
    .page
    {
        height: auto;
    }
    .page-band
    {
        position: absolute;
        height: 70%;
        width: var(--size-band);
        margin: 15vh 0;
        background-color: var(--color-page-band);
    }
    .enum-entries
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-bottom: 8vh;
        flex-wrap: nowrap;
        height: auto;
    }
    .enum-entry
    {
        border-bottom: 2px var(--color-text) solid;
        width: 70vw;
        z-index: 1;
        padding-top: 8vh;
    }
}

@media (max-aspect-ratio: 3/2) {
    .project-entries
    {
        row-gap: 4vh;
        column-gap: calc(10%);
    }
    .project-entry
    {
        width: 45%;
        height: 45vh;
    }
}

@media (max-aspect-ratio: 1/1) {
    .project-entries
    {
        flex-direction: column;
    }
    .project-entry
    {
        width: 80%;
        height: 40vh;
    }
}

@media (max-aspect-ratio: 2/3) {
    .nav-bar
    {
        background-color: var(--color-clay-pink);
    }
    .project-entry
    {
        min-height: 0;
        height: 30vh;
    }
    .enum-entry
    {
        max-width: 100%;
    }
    .desc-card
    {
        column-gap: 0;
        row-gap: var(--size-bar);
        flex-flow: column;
    }
}

.hide
{
    display: none !important;
}

.show
{
    display: inline-block !important;
}

.mark
{
    width: var(--size-burger);
    height: var(--size-burger);
    background: red;
}
